<div class="container">
  
  <div class="alert alert-success fade in" ng-show="cadastro.sucesso">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Obrigado por se cadastrar! Entraremos em contato rapidamente para ativar seu perfil.</strong>
  </div>
  <div class="alert alert-danger fade in" ng-show="cadastro.erro">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Desculpe! Houve um erro ao processar sua solicitação. Pode tentar novamente clicando no botão Cadastrar.</strong>
  </div>
  <form class="form-group" action="/api/cadastro" method="post">
    <div class="form-group row">
      <label for="razaosocial">Razão Social</label>
      <input type="text" name="razaosocial" class="form-control" id="razaosocial" ng-model="cadastro.razaoSocial" placeholder="Informe a razão social">
    </div>
    <div class="form-group row">
      <label for="nomefantasia">Nome Fantasia</label>
      <input type="text" name="nomefantasia" class="form-control" id="nomefantasia" ng-model="cadastro.nomeFantasia" aria-describedby="nomefantasia" placeholder="Informe o nome fantasia">
    </div>
    <div class="form-group row">
      <label for="endereco">Endereço</label>
      <input type="text" name="endereco" class="form-control" id="endereco" ng-model="cadastro.endereco" aria-describedby="endereco" placeholder="Informe o endereço">
    </div>
    <div class="form-group row">
      <label for="bairro">Bairro</label>
      <input type="text" name="bairro" class="form-control" id="bairro" ng-model="cadastro.bairro" aria-describedby="bairro" placeholder="Informe o bairro">
    </div>
    <div class="form-group row">
      <label for="cidade">Cidade</label>
      <input type="text" name="cidade" class="form-control" id="cidade" ng-model="cadastro.cidade" aria-describedby="cidade" placeholder="Informe a cidade">
    </div>
    <div class="form-group row">
      <label for="telefone">Telefone</label>
      <input type="text" name="telefone" class="form-control" id="telefone" ng-model="cadastro.telefone" aria-describedby="telefone" placeholder="Informe o telefone de contato">
    </div>
    <div class="form-group row">
      <label for="modalidade">Modalidade</label>
      <input type="text" name="modalidade" class="form-control" id="modalidade" ng-model="cadastro.modalidade" aria-describedby="modalidade" placeholder="Informe a modalidade do seu negócio">
    </div>
    <div class="form-group row">
      <label for="metro">Metrô</label>
      <input type="text" name="metro" class="form-control" id="metro" ng-model="cadastro.metro" aria-describedby="metro" placeholder="Estação de metrô mais próxima">
    </div>
    <div class="form-group row">
      <label for="facebook">Email</label>
      <input type="text" name="email" class="form-control" id="email" ng-model="cadastro.email" aria-describedby="email" placeholder="Informe seu email para contato">
    </div>
    <div class="form-group row">
      <label for="facebook">Facebook</label>
      <input type="text" name="facebook" class="form-control" id="facebook" ng-model="cadastro.facebook" aria-describedby="facebook" placeholder="Informe sua página no Facebook">
    </div>
    <div class="form-group row">
      <label for="internet">Página web</label>
      <input type="text" name="internet" class="form-control" id="internet" ng-model="cadastro.internet" aria-describedby="internet" placeholder="Informe sua página na Internet">
    </div>
    <div class="form-group row">
      <label for="campoTexto">Descrição</label>
      <textarea class="form-control" name="mensagem" id="campoTexto" ng-model="cadastro.descricao" rows="3" placeholder="Uma descrição sobre a sua empresa"></textarea>
    </div>
    <button type="button" class="btn btn-success" ng-click="cadastro.cadastrar()">Cadastrar</button>
  </form>
</div>
