<div class="jumbotron">
  <h1>Service Rio</h1>
  <p class="lead">
    <img src="images/logo.png" alt="Service Rio"><br>
    Encontre uma infinidade de lojas e profissionais liberais de acordo com a sua necessidade
  </p>
  <!-- Right here, this guy. Note the removed Hash as well. -->
  <p><a class="btn btn-lg btn-success" ng-href="/time">Conheça nosso time</a></p>
</div>

<div class="row">
  <div class="col-md-12 col-xs-12 col-lg-12">
  	<img src="images/banner_carrossel_1.jpg" class="img-responsive" alt="servicerio.com banner" style="margin-bottom: 30px;"/>
  </div>

  <div class="col-md-4 col-xs-12 col-lg-4">
    <div class="panel panel-primary">
      <div class="panel-heading"><h5><i class="fa fa-address-book" aria-hidden="true"></i> Seu catálogo online!</h5></div>
      <div class="panel-body">
        <p>Buscando uma loja ou um profissional liberal?</p>
        <p>Aqui você encontra o tudo o que você precisa!</p>
        <p>Aproveite e faça seu cadastro gratuitamente!</p>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-xs-12 col-lg-4">
    <div class="panel panel-success">
      <div class="panel-heading"><h5><i class="fa fa-facebook-square" aria-hidden="true"></i> Estamos no Facebook</h5></div>
      <div class="panel-body">
        <p>Já curtiu nossa página?</p>
        <p>Saiba sobre promoções e mais informação em nossa página no Facebook.</p>
        <p>Tudo o que você precisa em um só lugar!</p>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-xs-12 col-lg-4">
    <div class="panel panel-warning">
      <div class="panel-heading"><h5><i class="fa fa-info-circle" aria-hidden="true"></i> Veja o que temos:</h5></div>
      <div class="panel-body">
        <p>Restaurantes</p>
        <p>Hotéis</p>
        <p>Eletricistas</p>
        <p>Academias</p>
        <p>e muito mais...</p>
      </div>
    </div>
  </div>
</div>

<div class="row marketing">
  <h4><i class="fa fa-bullhorn" aria-hidden="true"></i> Saiba mais sobre nossos parceiros:</h4>
  <img class="img-thumbnail" width="40" height="40" src="/images/facebook.svg"/> Veja nossa página no Facebook
  <br/>
  <img class="img-thumbnail" width="40" height="40" src="/images/linkedin.svg"/> Veja a página do LinkedIn
  <br/>
  <img class="img-thumbnail" width="40" height="40" src="/images/internet.svg"/> Veja nossa página na internet
  <br/>
  <img class="img-thumbnail" width="40" height="40" src="/images/wifi.svg"/> Possuímos WiFi para sua comodidade
  <br/>
  <img class="img-thumbnail" width="40" height="40" src="/images/metro_rio.png"/> Existe uma estação de metrô perto de nós!
  <br/>
  <img class="img-thumbnail" alt="Foreign language spoken" title="Foreign language spoken" width="40" height="40" src="/images/uk.svg"/> Falamos outros idiomas
  <br/>
  <img class="img-thumbnail" src="/images/safe_zone.svg" width="40" height="40" title="Safe Area" alt="Safe Area"/> Estamos em um lugar seguro
</div>
