<div class="jumbotron">
  <h1>Service Rio</h1>
  <p class="lead">
    <img src="images/logo.png" alt="Service Rio"><br>
    Encontre uma infinidade de lojas e profissionais liberais de acordo com a sua necessidade
  </p>
  <!-- Right here, this guy. Note the removed Hash as well. -->
  <p><a class="btn btn-lg btn-success" ng-href="/time">Conheça nosso time</a></p>
</div>

<div class="row marketing">
  <h4><i class="fa fa-address-book" aria-hidden="true"></i> Seu catálogo online!</h4>
  <p>
    Buscando uma loja ou um profissional liberal?
  </p>
  <p>
    Aqui você encontra o todo tipo de serviço:
  </p>
  <ul>
    <li>Loja de móveis</li>
    <li>Pedreiros</li>
    <li>Marceneiros</li>
    <li>Ótica</li>
    <li>Pet Shops</li>
    <li>Restaurantes</li>
  </ul>
</div>
