<div class="container">
  <div class="row">
    <div class="col-md-6 col-xs-6">
      <div class="panel panel-success">
        <div class="panel-heading">Estabelecimentos</div>
        <div class="panel-body text-center"><a class="btn btn-lg btn-success" ng-href="/time/estabelecimentos"><img ng-src="/images/store.svg" class="img-responsive" width="100" height="100"/></a></div>
      </div>
    </div>
    <div class="col-md-6 col-xs-6">
      <div class="panel panel-success">
        <div class="panel-heading">Profissionais</div>
        <div class="panel-body text-center"><a class="btn btn-lg btn-success" ng-href="/time/profissionais"><img ng-src="/images/worker.svg" class="img-responsive" width="100" height="100"/></a></div>
      </div>
    </div>
  </div>
</div>
